@import url("https;//fonts.googleeapis.com/css2?familt=Poppins");

@font-face {
  font-family: "Atkins";
  src: url("../fonts/Atkinson_Hyperlegible/Atkinson-Hyperlegible-Regular-102a.woff2");
  font-style: normal;
}
@font-face {
  font-family: "AtkinsBold";
  src: url("../fonts/Atkinson_Hyperlegible/Atkinson-Hyperlegible-Bold-102a.woff2");
  font-weight: bold;
}
@font-face {
  font-family: "AtkinsItalic";
  src: url("../fonts/Atkinson_Hyperlegible/Atkinson-Hyperlegible-Italic-102a.woff2");
  font-style: italic, oblique;
}
@font-face {
  font-family: "AtkinsBoldItalic";
  src: url("../fonts/Atkinson_Hyperlegible/Atkinson-Hyperlegible-BoldItalic-102a.woff2");
  font-weight: bold;
  font-style: italic, oblique;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: #162938; */
  background-color: #fff;
  background-size: cover;
  background-position: center;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: #162938;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
.logo {
  font-size: 2rem;
  color: #fff;
  user-select: none;
}
.navigation a {
  position: relative;
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}
.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.navigation a:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}
.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #ffff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
}
.navigation .btnLogin-popup:hover {
  background: #fff;
  color: #162938;
}
.wrapper {
  position: relative;
  width: 500px;
  height: 600px;
  padding-bottom: 1px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  direction: rtl;
}
.wrapper .form-box {
  width: 100%;
  padding: 40px;
  direction: rtl;
}
.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #162938;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}
.form-box h2 {
  font-size: 2em;
  padding-top: 8vh;
  font-family: "AtkinsBold";
  text-align: center;
  height: 90px;
  top: 0;
}
.form-box h3 {
  font-size: 0.5em;
  padding-top: 8vh;
  top: 0;
  left: 0;
  height: 90px;
  text-align: center;
  color: #737d7f;
  font-family: "AtkinsItalic";
}
.input-box {
  position: relative;
  width: 100%;
  height: 50px;
 
  /* border-bottom: 2px solid #162938; underline */
  margin: 30px 0;
  direction: rtl;
}
.input-box h4 {
  color: #001926;
  font-family: Cairo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  direction: rtl;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  /* border: none; */
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  padding: 0 35px 0 5px;

  direction: rtl;
  border-radius: 10px;
  border: 1px solid #dadada;

  background: #fff;
  /* width: 430;
     height: 49;
      background: #fff;
       border-radius: 10;
        border: 1px #DADADA solid ; */
}
.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #162938;
  line-height: 57px;
  direction: rtl;
}
.remember-forgot {
  font-size: 0.9em;
  color: #162938;
  /* font-weight: 500; */
  font-weight: 400;
  line-height: 16px;
  /* margin: -15px 0 20px; */
  display: flex;
  justify-content: space-between;
  direction: rtl;
}
.remember-forgot label input {
  accent-color: #162938;
  margin-right: 3px;
}
.remember-forgot a {
  padding-bottom: 3vh;
  color: #162938;
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline;
}

.login-register {
   
  font-size: 0.9em;
  color: #162938;
  /* font-weight: 500; */
  font-weight: 400;
  line-height: 16px;
  /* margin: -15px 0 20px; */
  display: flex;
  justify-content: space-between;
  direction: rtl;
}
.login-register p a {
  color: #ff6565;
  text-decoration: none;
  font-weight: 400;
  line-height: 16px;
}
.login-register p a:hover {
  text-decoration: underline;
}
.btn {
  width: 100%;
  height: 45px;

  /* background: #162938; */
  /* border: none; */
  outline: none;
  /* border-radius: 6px; */
  cursor: pointer;
  font-size: 1em;
  color: #162938;
  font-weight: 500;
  direction: rtl;
  border-radius: 115px;
  border: 1px solid #002933;
}
 
.info h3 {
  display: flex;
  width: 320.51px;
  height: 38.912px;
  padding: 20px;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
  color: #002933;
  font-family: Cairo;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

/* .container {
     width: 533.50;
      height: 691.19;
       background-color: 'rgba(255, 255, 255, 0.92)';
        box-shadow: '0px 4px 30px rgba(0, 41, 51, 0.20)';
         border-radius: 40 ;
         backdrop-Filter: 'blur(28px)';
     
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.error {
    color: red;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;


    ------------
    font-size: 0.9em;
  color: #162938;
  /* font-weight: 500; */
  /* font-weight: 400;
  line-height: 16px; */
  /* margin: -15px 0 20px; */
  /* display: flex;
  justify-content: space-between;
  direction: rtl; */
/* } */
/* 
button:hover {
    background-color: #0056b3;
} */ 